<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Eliot Britton</title>
  <meta name="description" content="Eliot Britton: Composer">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="//fonts.googleapis.com/css?family=Source+Code+Pro:300,400" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="/stylesheet.css">
</head>
<body>

</body>
</html>
