<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Eliot Britton</title>
  <meta name="description" content="Eliot Britton: Composer">
  <meta name="keywords" content="Eliot, Britton, Composer, Musician, Performer, Electroacoustic, Electronic, Toronto, Ontario, University of Toronto, U of T, Bison, ebritton, ebison">

  <meta name="viewport" content="user-scalable=no">
  <meta name="robots" content="index, follow">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-touch-fullscreen" content="yes">
  <meta name="format-detection" content="telephone=no">
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  <meta name="HandheldFriendly" content="true">

  <meta property="og:locale" content="en_US" />
  <meta property="og:title" content="Eliot Britton" />
  <meta property="og:url" content="http://ebritton.com" />
  <!-- meta property="og:image" content="http://ebritton.com/images/fb_share.jpg" / -->
  <meta property="og:description" content="Eliot Britton: Composer" />
  <meta property="og:site_name" content="Eliot Britton" />

  <link href="https://fonts.googleapis.com/css?family=Cabin:400,400i" rel="stylesheet">
  <link rel="stylesheet" href="/stylesheet.css">
</head>

<body>
  <h1>
      I am Eliot Britton.
      <br><br>
      Canadian Composer based in Toronto Ontario. I make all kinds of music, often with computers, sometimes not.
      <br><br>
      Here are my <a href="https://docs.google.com/document/d/1rd-5TV62ECorfQSMDe4Vby9I7R4wOfAMH1DF0CbN3zQ/edit?usp=sharing">CV</a>
      and <a href="https://issuu.com/ebritton/docs/brittonbio2017">Bio</a>.
      <br>
      <br>
      <%= obfuscated_email(text: "Email me") %>!
  </h1>
  <a href="https://twitter.com/eliotbritton" class="tweet">@eliotbritton</a>
</body>
</html>
