<!doctype html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <title>Eliot Britton &bull; Composer</title>
    <%= erb :analytics %>
    <meta name="author" content="Eliot Britton">
    <meta name="description" content="TO DO">
    <link rel="stylesheet" href="stylesheet.css">
  </head>

  <body>
    <main class="layout">
      <%= yield %>
    </main>
  </body>
</html>
