@import 'reset';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-rendering: optimizeLegibility;
    -webkit-text-size-adjust: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html,
body {
    font-family: 'Cabin', sans-serif;
    width: 100%;
    height: auto;
    color: #FFF;
    background: #422925;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

h1 {
    margin: 100px 10%;
    max-width: 650px;
}

h1,
a {
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 53px;
    letter-spacing: 1.5px;
    color: #FFF;
}

a.tweet {
    position: fixed;
    bottom: 30px;
    right: 40px;
    font-size: 26px;
    font-weight: 400;
    line-height: 1;
    text-decoration: none;
}

a.site {
    font-style: italic;
}

a:hover {
    text-decoration: none;
    outline: none;
    border: none;
}

time {
    position: fixed;
    top: 30px;
    right: 40px;
    min-width: 140px;
    font-size: 26px;
    font-weight: 400;
    line-height: 1;
    letter-spacing: 1.5px;
    text-align: right;
}
