%p#player2{:style => "margin: 0"} &nbsp;

:javascript
  var s2 = new SWFObject("mp3player.swf", "playlist", "175", "180", "7", "#3c3728");
  s2.addVariable("file","playlist.xml");
  s2.addVariable("backcolor","0x3c3728");
  s2.addVariable("frontcolor","0xded7bd");
  s2.addVariable("lightcolor","0xded7bd");
  s2.addVariable("displayheight","0");
  s2.addVariable("volume", "75");
  s2.addVariable("usefullscreen","false");
  s2.addVariable("autostart","false");
  s2.addVariable("showdownload", "true");
  s2.write("player2");
