- if object.any?
  %table.index_table
    - cycle("odd", "event")
    - cycle("odd", "event") if current_cycle == "even"
    - object.each do |post|
      %tr{:class => cycle("odd", "even")}
        %td= link_to post.title, blog_path(post)
        %td= post.created_at.to_s(:words)
- else
  None
  %br

= button_to "New Blog Post", new_admin_post_path, :method => :get
