= csrf_meta_tags

%meta{:name => "author", :content => "Kevin McPhillips"}
%meta{:name => "description", :content => "Eliot Britton's artist profile, projects, music and contact information."}
%meta{:name => "keywords", :content => "Winnipeg, Manitoba, Quebec, Montreal, Canadian, Canada, Composer, Music, Musician, Eliot Britton, Britton, Electroacoutic, electronic music, sound artists, sound art, computer music, soundscape, soundscape, sound design, University of Manitoba, McGill."}
