- content_for :sidebar do
  = render :partial => "shared/sidebar/projects"

%h2 Eliot Britton

- if @bio.image.present?
  .center= image_tag @bio.image.column.url, :alt => "Eliot Britton"
  %p.byline &nbsp;

= body @bio
