%h1 Secret Media

- if @media.any?
  %ul
    - @media.each do |media|
      %li
        = link_to media.file.file.filename, media.file_url
        = ": #{media.name}"


- else
  %p None found

%p= link_to "Contact Eliot", contact_path
