development:
  adapter: mysql2
  encoding: utf8
  reconnect: false
  database: ebritton_development
  pool: 5
  username: root
  password:
  socket: /tmp/mysql.sock

test:
  adapter: mysql2
  encoding: utf8
  reconnect: false
  database: ebritton.ebritton_test
  pool: 5
  username: root
  password:
  socket: /tmp/mysql.sock


legacy:
  database: ebritton
  username: root
  password:
  host: localhost
