- sidebar :projects

%h2 Blog Archive

- @posts.each_pair do |year, posts|
  %p.byline= year
  %ul
    - posts.each do |post|
      %li
        = "#{post.created_at.to_s(:without_time)}:"
        = link_to post.title, blog_path(post)
        