/**
* Design by Free CSS Templates
* http://www.freecsstemplates.org
* Released for free under a Creative Commons Attribution 2.5 License
* 
* Modified by Kevin McPhillips for ebritton.com
**/

body {
  margin: 20px;
  padding: 0;
  background: #292818 url(images/template/bg_tile.gif);
  font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
  font-size: 11px;
  color: #292818;
}

body.secret {
  background-color: #ded7bd;
}

h1, h2, h3 {
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  color: #000000;
}

h2 { 
  font-size: 24px; 
  padding-bottom: 8px;
  text-align: center;
}

h3 {
  font-size: 18px;
}

p, ol, ul {
  line-height: 20px;
}

a {
  color: #000000;
}

a:hover {
  text-decoration: none;
}

.thumb , p a img {
  float: left;
  margin: 5px 15px 0 0;
  border: 4px solid #000000;
}

.thumb:hover , p a img:hover {
  border: 4px solid #3C3728;
}

.byline {
  margin: 0;
  padding: 0 0 0 5px;
  background: #645B43;
  font-size: 9px;
}

/* Header */

#header {
  width: 592px;
  height: 112px;
  margin: 0 auto;
  background: #ded7bd url(images/template/header.png);
  border: 4px solid #000000;
}

#header h1 {
  float: left;
  padding: 40px 0 0 14px;
  text-transform: uppercase;
  font-size: 36px;
/*  color: #ACA283; */
  color: #292818;
}

#header h2 {
  float: right;
  padding: 95px 5px 0 0;
  font-size: 14px;
/*  color: #ACA283; */
  color: #292818;
}

#header a {
  text-transform: uppercase;
  text-decoration: none;
  font-size: 11px;
  color: #ACA283;
}

/* Menu */

#menu {
  width: 600px;
  height: 30px;
  margin: 0 auto;
}

#menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

#menu li {
  display: inline;
}

#menu a {
  display: block;
  float: left;
  width: 100px;
  height: 26px;
  padding: 4px 0 0 0;
  background: url(images/template/navbutton_off.gif);
  background-color: #786E50;
  text-decoration: none;
  text-align: center;
  font-weight: bold;
  color: #ACA283;
}

#menu a:hover, #menu .active a {
  background: url(images/template/navbutton_on.gif);
  background-color: #000000;
  color: #FFFFFF;
}

/* Content */

#content {
  width: 592px;
  margin: 0 auto;
  background: #786E50 url(images/template/bg_col_left.gif) repeat-y;
  border: 4px solid #000000;
}

#col_left {
  float: left;
  width: 176px;
  padding: 0;
  color: #645B43;
}

#col_left p {
  line-height: 14px;
}

#col_left h3 {
  margin: 5px 0 10px 0;
  color: #786E50;
}

#col_left ul {
  margin: 0;
  padding: 0;
  list-style: none;
  color: #000000;
}

#col_left ul li {
  padding-bottom: 10px;
}

#col_left a {
  color: #645B43;
}

#col_left div {
  padding: 20px;
}

#col_right {
  float: right;
  width: 376px;
  padding: 20px;
}

#col_right h3 {
  padding-top: 14px;
}

/* Footer */

#footer {
  width: 600px;
  margin: 0 auto;
  background: #000000;
}

#footer p {
  margin: 0;
  padding: 0 0 4px 0;
  text-align: center;
  font-size: 9px;
  color: #3C3728;
}

#footer a {
  color: #786E50;
}

/* Misc */

.center {
  text-align: center;
}

.bold {
  font-weight: bold;
}

/* Blog specific */

div.footnavLeft, div.footnavCenter, div.footnavRight {
  width:122px;
  float:left;
  padding:0;
  margin:0;
  margin-bottom:-5;
}

div.footnavCenter {
  text-align:center;
}

div.footnavRight {
  text-align:right;
}

div.clear {
        clear:both;
        padding:0;
        margin:0;
}
