!!!
%html
  %head
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"

    = render :partial => "shared/meta"
    %meta{:name => "robots", :content => "noindex, nofollow"}

  %body.secret
    = yield
